<div class="flex flex-row justify-center items-center">
    <div class="w-7/12">
        <div class="w-full flex flex-col items-center">
            <div class="text-left">
                <p class="font-bold text-4xl">The easiest way to <br> manage projects</p>
                <p>
                    From the small stuff to the big picture, organizes the work so teams know <br> what to do, why it matters,
                    and how to get it done.
                </p>
                <button mat-raised-button color="primary" (click)="redirectToIntranet()">Intranet</button>
            </div>
        </div>
    </div>
    <div class="w-5/12">
        <div class="w-full flex justify-center">
            <img class="image-mobile" src="../../../../assets/images/mobile-landing.png" alt="mobile">
        </div>
    </div>
</div>
<div class="flex flex-col w-full items-center pb-16">
    <div class="text-center">
        <p class="font-bold text-4xl">Tailor-made features</p>
        <p>Lorem ipsum is common placeholder text used to demonstrate the graphic elements of a <br> document or visual presentation.</p>
    </div>
</div>
<div class="flex flex-col w-full items-center text-center">
    <div class="flex flex-row gap-2 w-full justify-center">
        <div class="w-3/12 flex flex-col items-center">
            <img class="image-icon" src="../../../../assets/images/feature-icon.png" alt="icon">
            <p class="font-bold text-lg">Robust workflow</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
        </div>
        <div class="w-3/12 flex flex-col items-center">
            <img class="image-icon" src="../../../../assets/images/feature-icon.png" alt="icon">
            <p class="font-bold text-lg">Flexibility</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
        </div>
        <div class="w-3/12 flex flex-col items-center">
            <img class="image-icon" src="../../../../assets/images/feature-icon.png" alt="icon">
            <p class="font-bold text-lg">User friendly</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
        </div>
    </div>
    <div class="flex flex-row gap-2 w-full justify-center">
        <div class="w-3/12 flex flex-col items-center">
            <img class="image-icon" src="../../../../assets/images/feature-icon.png" alt="icon">
            <p class="font-bold text-lg">Multiple layouts</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
        </div>
        <div class="w-3/12 flex flex-col items-center">
            <img class="image-icon" src="../../../../assets/images/feature-icon.png" alt="icon">
            <p class="font-bold text-lg">Better components</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
        </div>
        <div class="w-3/12 flex flex-col items-center">
            <img class="image-icon" src="../../../../assets/images/feature-icon.png" alt="icon">
            <p class="font-bold text-lg">Well organised</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
        </div>
    </div>
</div>